<h2> <%=t('listcal') %> </h2>
<%= form_tag({:controller => "sistema", :action => "calendars_list"}, :method => "get") do %>
   <%= label_tag "lbl_key", t('dev') %>
   <%= text_field_tag "txt_key", "", :size => 5, :maxlenght => 5, :placeholder => t('textkey'), :required => "required" %>
   
   <%= label_tag "lbl_path_key", t('pathp12') %>
   <%= text_field_tag "txt_path_key", "", :size => 5, :maxlenght => 5, :placeholder => t('p12json'), :required => "required" %>
   
   <%= label_tag "lbl_cuenta_developper", t('accountdev') %>
   <%= text_field_tag "txt_cuenta_developper", "", :size => 5, :maxlenght => 5, :placeholder => t('acc'), :required => "required" %>
   
   <br />
   <%= submit_tag t('send') %>
<% end %>