#div1.estilo-div
  %h2
    = t('listevent')
.intro.grid_3.push_9{:align => "right"}
  = form_tag({:controller => "sistema", :action => "events_list"}, :method => "get") do
    = label_tag "lbl_key", t('dev')
    = text_field_tag "txt_key", "", :size => 50, :maxlenght => 50, :placeholder => t('textkey'), :required => "required"
    = label_tag "lbl_path_key", t('pathp12')
    = text_field_tag "txt_path_key", "", :size => 50, :maxlenght => 50, :placeholder => t('p12json'), :required => "required"
    = label_tag "lbl_cuenta_developper", t('accountdev')
    = text_field_tag "txt_cuenta_developper", "", :size => 50, :maxlenght => 50, :placeholder => t('acc'), :required => "required"
    = label_tag "lbl_calendar_id", t('calid')
    = text_field_tag "txt_calendar_id", "", :size => 50, :maxlenght => 50, :placeholder => t('cal'), :required => "required"
    = label_tag "lbl_time_min", t('timemin')
    = text_field_tag "txt_time_min", "", :size => 50, :maxlenght => 50, :placeholder => "time_min", :required => "required"
    = label_tag "lbl_time_max", t('timemax')
    = text_field_tag "txt_time_max", "", :size => 50, :maxlenght => 50, :placeholder => "time_max", :required => "required"
    %br/
    = submit_tag t('send')
